.scale-up-ver-center {
	-webkit-animation: scale-up-ver-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-ver-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-ver-center {
    0% {
      -webkit-transform: scaleY(0.4);
              transform: scaleY(0.4);
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
    }
  }
  @keyframes scale-up-ver-center {
    0% {
      -webkit-transform: scaleY(0.4);
              transform: scaleY(0.4);
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
    }
  }
#titleHomePage{
    font-size:50px;
    font-weight: 100px;
    font-family: ui-sans-serif;
    }

  .underline{
    width: 5%;
    border-bottom: 2px solid black;
  }  

  
.judul{
  font-size:36px;
  font-weight: 50px;
  font-family: ui-sans-serif;
  }

  .text{
    font-family: serif;
  }